.main-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-wrapper {
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-text-content {
  width: 582px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 70px 0;
}

.main-title-heading {
  font-size: 45px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  height: 192px;
  width: 100%;
  text-transform: uppercase;
}

.main-description-content {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 569px;
  height: 208px;
}

.main-image-section .main-mentor-photo {
  width: 627px;
  margin-top: 45px;
  /* height: 471.49px; */
}

.main-arrow-icon .main-down-arrow {
  /* Add any specific styling for the arrow here */
}

.main-mentor-button {
  width: 250px;
  height: 50px;
  border: 1px solid #191e22;
  border-radius: 50px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .main-section-container {
    width: 100%;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin-bottom: 450px;
  }

  .main-content-wrapper {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    height: fit-content;
    align-items: center;
  }

  .main-image-section {
    margin-top: 20px;
    order: -1;
    height: auto;
    width: 100%;
  }

  .main-mentor-photo {
    width: 100%;
    
  }

  .main-arrow-icon {
    margin-top: 20px; /* Add space between the image and the arrow */
  }

  .main-text-content {
    width: 100%;
    padding-top: 10px;
  }
  
  .main-title-heading {
    font-size: 24px;
  }

  .main-description-content {
    width: 100%;
    height: fit-content;
  }

  .main-mentor-button {
    width: 90%;
    height: 50px;
    border: 1px solid #191e22;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    margin: auto;
  }

  .main-arrow-icon {
    display: none;
  }
}
