.client-testimonials {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
  align-items: center;
  margin-bottom: 5rem;
  border-bottom: 1px solid #E7E3E9;
  width: 100%;
  overflow: visible; 
}

.client-testimonials-carousel {
  height: auto;
  margin: auto;
}

.testimonial-card {
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
}

.client-testimonials-title {
  width: 583px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
}

.client-testimonials-intro {
  width: 1024px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 40px;
}

.testimonial-card-quote {
  width: 100%;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 46px;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

.testimonial-card-details {
  width: 100%;
  height: 39px;
  text-align: center;
}

.testimonial-card-name {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

.testimonial-card-role {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

.client-testimonials-footer {
  width: 1024px;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  height: 30px;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .client-testimonials-title {
    font-size: 24px;
    line-height: 36px;
    width: auto;
  }

  .client-testimonials {
    margin: 10px 0 20px 0;
    gap: 1.5rem;
  }

  .client-testimonials-intro,
  .client-testimonials-footer {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
.testimonial-card{
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
  .testimonial-card-quote {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 0;
    width: fit-content;
    height: auto;
  }

  .testimonial-card-details {
    height: auto;
  }
  .client-testimonials-carousel {
    width: 100%;
    margin: auto;
  }
}
